@font-face {
  font-family: VGA;
  src: url(fonts/VGAMedium.ttf);
}

* {
  font-family: VGA;
}


ul li::before {
  content: "- ";

}

ul {
  list-style-type: none;
}

h1 {
  font-size: 150%;
}

h1, li, p, pre {
  color: white;
  background: url(images/glendatrip.png) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #000000;
  color: #6c67de;
}

