@font-face {
  font-family: VGA;
  src: url(fonts/VGAMedium.ttf);
}

@font-face {
  font-family: sitelenKuwi;
  src: url(fonts/sitelen.Kuwi.otf);
}

* {
  font-family: VGA;
}

.sitelenKuwi {
  font-family: sitelenKuwi;
}

code {
  color: white;
  background: url(images/glendatrip.png) no-repeat;
  filter: invert();
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "- ";
}

h1, h2, h3, li, p, pre, span {
  color: white;
  background: url(images/glendatrip.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border-color: #111111;
}

body {
  background-color: #000000;
  color: #6c67de;
}

