@font-face {
  font-family: VGA;
  src: url(fonts/VGAMedium.ttf);
}

@font-face {
  font-family: sitelenKuwi;
  src: url(fonts/sitelen.Kuwi.otf);
}

* {
  font-family: VGA;
}

.sitelenKuwi {
  font-family: sitelenKuwi;
}

a {
  background: url(images/glendatrip.png) no-repeat;
  background-size: cover;
  filter: hue-rotate(90deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover, code {
  background: url(images/glendatrip.png) no-repeat;
  background-size: cover;
  filter: hue-rotate(270deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  background: url(images/glendatrip.png) no-repeat;
  background-size: cover;
  background-origin: border-box;
  margin: 16px;
  border: 2px solid;
  border-color: transparent;
  -webkit-background-clip: border-area;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "- ";
}

h1, h2, h3, h4, li, p, pre, span {
  color: white;
  background: url(images/glendatrip.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border-color: #111111;
}

body {
  background-color: #000000;
  color: #6c67de;
}

